.admin {
    width: 100%;
    padding: 100px 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.admin .top {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
}

.admin .top a {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    width: 250px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 0px 5px white;
}

.admin .top a:hover {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 10px white;
}

/* *******Admin Btm Sectipon Css******** */
.admin .btm {
    width: 100%;
    max-width: 700px;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 40px;
}
.admin .btm .input-cont {
   margin-bottom: 15px;
   display: flex;
   align-items: center;
}
.admin .btm .input-cont label {
   min-width: 150px;
}
.admin .btm .input-cont input,.admin .btm .input-cont select {
   flex: 1;
   padding: 10px;
   border: none;
   outline: none;
}
.admin .btn .input-cont input[type="file"]{
    background-color: none;
}

/* *******Add Candidate Css******** */
.addCandidate {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.addCandidate>h2{
    font-size: 2rem;
    -webkit-text-stroke: 1px green;
}