@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');

.show {
    font-family: 'Playpen Sans', cursive;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.536), rgba(0, 0, 0, 0.349)), url("https://www.freecodecamp.org/news/content/images/2022/03/pexels-janko-ferlic-590493.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 100px 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show .cat-cont {
    width: 90%;
    max-width: 500px;
    font-size: 2.2rem;
    font-weight: bold;
    border-radius: 12px;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.show .cat-cont>select {
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.show .candidates {
    width: 100%;
    display: flex;
    gap: 50px;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.show .candidate {
    width: 90%;
    max-width: 600px;
    display: flex;
    background-color: #e0e0e0;
    color: #000;
    border-radius: 12px;
    overflow: hidden;
}

.show .candidate .left {
    width: 45%;
    text-align: center;
    padding-bottom: 10px;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.show .candidate .left img {
    width: 100%;
    height: 200px;
}

.show .candidate .left h2 {
    font-size: 1.5rem;
    margin: 10px auto;
    width: fit-content;

}

.show .candidate .right {
    padding: 20px;
    width: 60%;
}

.show .candidate .right h3 {
    color:black;
    text-shadow: 0px 0px 10px white;
    margin-bottom: 15px;
    
}

.show .candidate .right h4 {
    color: #333;
    margin-bottom: 10px;
}

.show .candidate .right ul {
    margin-left: 30px;
    margin-bottom: 25px;
}
.show .candidate .right button {
   width: 100%;
   border: none;
   outline: none;
   background-color: blue;
   color: #fff;
   padding: 12px;
   border-radius: 7px;
   cursor: pointer;
   font-size: 1rem;
   font-weight: 700;
}
.show .candidate .right button:hover{
   background-color: rgb(54, 54, 247);
}


@media (max-width:700px) {
    .show{
        padding: 100px 0px 0px;
    }
}
@media (max-width:600px) {
    .show{
        padding: 100px 0px 0px;
    }
    .show .candidate .left img {
        height: 170px;
    }
}
@media (max-width:550px) {
    .show .cat-cont {
        flex-direction: column;
    }
    .show .cat-cont>label {
        font-size: 1.5rem;
    }
    .show .cat-cont>select {
        width: 100%;
    }
    .show{
        padding: 100px 0px 0px;
    }
    .show .candidate .left img {
        height: 170px;
    }
    .show .candidate{
        flex-direction: column;
    }
    .show .candidate .left {
        width: 100%;
        border: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }
    .show .candidate .right {
        width: 100%;
    }
    .show .candidate .left img {
        height: 220px;
    }
}
