@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');


header {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    color: #fff;
    align-items: center;
    padding: 0px 4vw;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}

header .logo-cont {
    width: 140px;
    height: 60px;
    overflow: hidden;
    position: relative;
}

header .logo-cont img {
    transform: translate(0%, -5%);
    position: absolute;
    height: 110%;
    width: auto;
    object-fit: cover;
    filter: invert(100%);
}

header .nav {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 800;
}
header a:hover {
    color: #f3f3f3;
}